.home{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .right{
   
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

.home .right .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .right .img img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    animation-name: colorAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.home .left{
    width: 650px;
    background-color: transparent;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    box-shadow: var(--box-shadow);
    
}
@keyframes colorAnimation{
    0%{
        background-color: blue;
        transform: translate(0,opx);
        box-shadow: 10px 10px 100px 50px blue;
    }
    25%{
        background-color: rgb(239,244,11);
        box-shadow: 10px 10px 100px 50px rgb(239,244,11);
    }
    50%{
        background-color: rgb(12,12,199);
        transform: translate(0,10px);
        box-shadow: 10px 10px 100px 50px rgb(12,12,199);
    }
    75%{
        background-color: rgb(130,217,160);
        box-shadow: 10px 10px 100px 50px rgb(12,12,199);
    }
    100%{
        background-color: rgb(50,55,205);
        transform: translate(0,-0px);
        box-shadow: 10px 10px 100px 50px rgb(50,55,205);
    }
}


/* Hide the span added by typed.js */
.typed-cursor {
    display: none;
  }
  
  /* Hide any other span inside the typed element */
  .typed-js-element span {
    display: none;
  } 
  /* checking pull request */