.home{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .right{
   
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

.home .right .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .right .img img{
    width: 250px;
    height: 240px;
    border-radius: 100%;
    animation-name: colorAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

.home .left{
    width: 650px;
    background-color: transparent;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    /* border: 1px solid yellow; */
    box-shadow: var(--box-shadow);
    
}
@keyframes colorAnimation{
    0%{
        background-color: blue;
        transform: translate(0,0px);
        box-shadow: 10px 10px 100px 50px blue;
    }
    25%{
        background-color: rgb(239,244,11);
        box-shadow: 10px 10px 100px 50px rgb(239,244,11);
    }
    50%{
        background-color: rgb(12,12,199);
        transform: translate(0,10px);
        box-shadow: 10px 10px 100px 50px rgb(12,12,199);
    }
    75%{
        background-color: rgb(130,217,160);
        box-shadow: 10px 10px 100px 50px rgb(12,12,199);
    }
    100%{
        background-color: rgb(50,55,205);
        transform: translate(0,-0px);
        box-shadow: 10px 10px 100px 50px rgb(50,55,205);
    }
}


/* Hide the span added by typed.js */
.typed-cursor {
    display: none;
  }
  
  /* Hide any other span inside the typed element */
  .typed-js-element span {
    display: none;
  } 

  @media (max-width: 600px) {
    .home{
        margin-bottom: 30px !important;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; 
        padding: 60px 0px 30px 0px !important;
    }
    .home .right{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        
    }
    
    .home .right .img img{
        margin-top: 30px !important;
        width: 180px;
        height: 170px;
        border-radius: 100%;
        animation-name: colorAnimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        
    }
    
    .home .left{
        width: 90%;
        background-color: transparent;
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        /* border: 1px solid yellow; */
        box-shadow: var(--box-shadow);
    }
    .home .left h1{
        font-size: 16px;
    }
    .btn{
        font-size: 14px;
    }

    @keyframes colorAnimation{
        0%{
            background-color: blue;
            transform: translate(0,0px);
            box-shadow: 5px 5px 80px 40px blue;
        }
        25%{
            background-color: rgb(239,244,11);
            box-shadow: 5px 5px 80px 40px rgb(239,244,11);
        }
        50%{
            background-color: rgb(12,12,199);
            transform: translate(0,10px);
            box-shadow: 5px 5px 80px 40px rgb(12,12,199);
        }
        75%{
            background-color: rgb(130,217,160);
            box-shadow: 5px 5px 80px 40px rgb(12,12,199);
        }
        100%{
            background-color: rgb(50,55,205);
            transform: translate(0,-0px);
            box-shadow: 5px 5px 80px 40px rgb(50,55,205);
        }
    }
}

@media (min-width: 601px) and  (max-width: 900px) {
    .home{
        height: 80vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .home .right{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding-top: 50px;
        
    }
    
    .home .right .img img{
        width: 210px;
        height: 200px;
        
    }
    
    .home .left{
        width: 90%;
        
    }
    .home .left h1{
        font-size: 24px;
    }
    .btn{
        font-size: 14px;
    } 
}