.nav_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar .nav_items{
 padding: 16px;
 font-size: 1.2rem;
 font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
}
.nav_bar .nav_items:hover{
  border-bottom: 2px solid yellow;
}