.nav_bar{
  position: sticky;
  top:0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_bar .nav_items{
 padding: 16px ;
 font-size: 1.2rem;
 font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
}
.nav_bar .nav_items:hover{
  border-bottom: 2px solid yellow;
}

@media (max-width: 600px) {
  .left{
    margin-top: 4px;
  }
  
  .nav_bar{
    margin: 16px 0px;
    
    
  }
  .nav_bar .nav_items{
   padding: 5px 5px;
   font-size: 13px;
   font-weight: bold;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  .nav_bar .nav_items:hover{
    border-bottom: 2px solid yellow;
  }
}