.skill-card-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center the content */
    gap: 35px;
    padding: 20px 306px;
  }
  
  .skill-card {
    background-color: black;
    color: white;
    /* border: 1px solid #e6ff00; */
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(50% - 40px); /* Each card takes 50% of the container width, minus the gap */
    max-width: calc(50% - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: var(--box-shadow);

  }
  
  .skill-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }
  